<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nimeng.View">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NiMeng"
        android:name="com.nimeng.bean.GlobalVariable">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CurveActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".DataRecordActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".FileActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".TemStandardApparatusActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".CameraActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>



        <activity
            android:name=".SettingSwitchActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>


        <activity
            android:name=".TurntableActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>


        <activity
            android:name=".ComprehensiveDataActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>


        <activity
            android:name=".LineChartActivity"
            android:exported="true">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>



        <activity
            android:name=".TemPlanActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>



        <activity
            android:name=".HumPlanActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>


        <activity
            android:name=".TemPidActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".HumPidActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SystemParamActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".SettingEquipmentParametersActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".InstallermentActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".PasswordActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".HumStandardApparatusActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".TemPlanEditActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".HumPlanEditActivity"
            android:exported="true">
        </activity>


        <receiver android:name="com.nimeng.receiver.TemStartReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.TEMSTART"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.nimeng.receiver.TemEndReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.TEMEND"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.nimeng.receiver.HumStartReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.HUMSTART"/>
            </intent-filter>
        </receiver>


        <receiver android:name="com.nimeng.receiver.HumEndReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.HUMEND"/>
            </intent-filter>
        </receiver>


        <receiver android:name="com.nimeng.receiver.LightOnReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.LIGHTON"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>